//font variables
$font: 'Inter', sans-serif;
$thin: 300;
$bold: 700;

//colors
$bg-color: #233658; //задний фон
$primary-color: #386192; //левый чат
$button-color: #487AB7;//кнопки
$links-color: #3369F3;//ссылки на другие страницы
$select-color: #E4EDFD;//выбранный чат
$text-color: #999999; //текст в левом чате
$dangerous-color: #FF2F2F;//alert

