@import './normalize';
@import './variables';
@import '../pages/login/login.scss';
@import '../pages//signin/signin.scss';
@import '../pages/profile/profile.scss';





body {
    font-family: $font;
    background-color: $bg-color;
    font-size: 18px;
}

//добавлены стили для часто используемых элементов
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $button-color;
    color: #fff;

    width: 240px;
    height: 40px;

    border-radius: 10px;
}

.link {
    color: $links-color;
    font-size: 14px;
    display: block;
}

.btn:active,
.btn:hover {
    text-decoration: none;
    color: #fff;
}

.link:active,
.link:hover {
    text-decoration: none;
    color: $links-color;
}

.red, .red:hover, .red:active{
    color: $dangerous-color;
   
}

.input {
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.75rem;

    font-size: 1rem;
    color: #212529;

    border: 1px solid $button-color;
    border-radius: 0.25rem;
}

.label {
    color: $text-color;
    font-size: 14px;
}
.light_color{
    color: $light-bg-color;
}